doctype html
html.page( lang="en" )
  title Parcel-template - 2
  meta( charset="UTF-8" )
  meta( name="description" content="some description" )
  meta( name="viewport" content="width=device-width, initial-scale=1.0" )
  link(rel='stylesheet', href='../styles/main.css')
  body.page__body
    include _header.pug

    .test
      a(href='index.pug') Go back

    include _footer.pug
    script(src='../js/index.js')